$button-color: #E4FC51;

* {
    margin: 0;
}

.top-head {
    background-color:rgb(227, 231, 231);
    color: black;
    display: flex;
    padding: 5px 0 5px 150px;
}
.call{
    width: 35px;
    
}

.email{
    width: 35px;
    padding-left: 70px;
}

.top-head h3{
    padding-left: 10px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    margin-top: 10px;
}
.top-head h2 {
    padding-left: 10px;
    color: rgb(8, 8, 8);
    font-size: 16px;
    margin-top: 10px;
}

nav>ul {
    /* display: flex; */
    list-style: none;
    display: inline-block;
}

.logo {
    width: 180px;
    align-items: center;
    margin-top: 30px;
    padding-left: 100px;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
}
.full-content{
    margin-bottom: 70px;
}


li {
    display: inline-block;
    padding: 0 20px;
    align-items: center;
    color: red;
}

li a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 20px;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Young Serif', serif;
    position: relative;
    bottom: 30px;
}

.btn {
    background-image: linear-gradient(45deg, #FF3533, #db3633, #d65b58);
    color: white;
    padding: 7px 15px;
    border: 1px solid white;
    border-radius: 9px;
}
.btn:hover{
   
    background-color: $button-color;
   
    /* background-image: linear-gradient(45deg, green, rgb(27, 114, 27), rgb(13, 70, 13)); */
}

li a:hover {
    padding: 7px 13px;
    background-color: black;
    color: white;
    display: block;
    border: 5px solid white;
    border-radius: 10px;
}
.navigation{
    background-color: #FAF0F0;

}


/* this section is now header section */

.he{
    display: flex;
    align-items: center;
    padding: 50px 150px;
}


.header-section{
    width: 40%;
}
.header-image-section{
    width: 40%;
}
.header-section h1{
    font-size: 43px;
    font-family: 'Merriweather', serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Young Serif', serif;
    color: $button-color;
}
.header-section span{
    font-size: 43px;
    font-family: 'Merriweather', serif;
    font-family: 'Nosifer', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Young Serif', serif;
    color: $button-color;
    position: relative;
    top: -15px;
}
.header-section p{
    font-size: 18px;
    color: white;
}
.btn-1{
    margin-top: 30px;
}
.b2{
    margin-left: 20px;
}
.b1, .b2 {
    text-decoration: none;
    position: relative;
    left: -5px;
}
.header-image-section img{
    width: 800px;
}
.he{
    /* background-image: linear-gradient(45deg, #D4145A , #FBB03B); */
    margin-bottom: 100px;
    position: relative;
    top: -65px;
}
/* This Section for only serviee */

.main-section{
 
    padding: 50px 0 50px 150px;
    position: relative;
    top: -195px;
    /* background-image: linear-gradient(30deg,#D4145A , #FBB03B); */
} 

.section{
    padding: 30px 20px;
    display: inline-block;
}
.services{
    width: 200px;
    height: 150px;
    background-color: #c9c6c6;
    text-align: center;
    padding: 30px 0 0 ;
    border: 1px solid white;
    border-radius: 5px;
    justify-content: center;
}
.services img{
    width: 50px;
    align-items: center;
}
.services h2{
    padding-top: 20px;
}
#icon{
    position: relative;
    top: 25px;
}

body{
    background-image: linear-gradient(90deg,#EE9CA7 , #FFDDE1)
}
